matplotlib
numpy
jax
numba

jupyter-book>=1.0.0,<2.0
quantecon-book-theme
sphinx-tojupyter
sphinxext-rediraffe
sphinx-exercise
sphinx-proof
sphinxcontrib-youtube
sphinx-togglebutton
sphinx-reredirects
